
<script type="text/javascript">
	var map, infoWindow;
	function initialize() {
		var bounds = new google.maps.LatLngBounds();
		var infowindow = new google.maps.InfoWindow;
		var mapDiv = document.getElementById('map');
		map = new google.maps.Map(mapDiv, {
			center: {lat: 32.7174, lng: -117.1628},
			zoom: 11,
		});
		var markers=0;
        {% for id, meeting in meeting_js.Locations %}
			{% if meeting.Lat %}
				var point = new google.maps.LatLng({{meeting.Lat}}, {{meeting.Lon}});
				var marker = new google.maps.Marker({
					position: point,
					map: map,
					title: '{{ meeting.meeting.Name }}',
					{% comment %} label: '{{ meeting.meeting.Name }}' {% endcomment %}
				});
				marker['infowindow']  = new google.maps.InfoWindow({
						content: '{{ meeting.PopUpText|safe }}<p><a href="/locations/{{meeting.Meeting.LocationID.Value}}">Other Meetings at this location.</a></p>',
				});
				google.maps.event.addListener(marker, 'click', function() {
					//window.location.href = this.url;
					this['infowindow'].open(map, this);
				});

				bounds.extend(marker.position);
				markers ++;

			{% endif %}
        {% endfor %}
		UpdateMapWithGeolocation();
		{% comment %} if (markers != 1){
			map.fitBounds(bounds);
		} {% endcomment %}
        google.maps.event.addListener(map, "click", function(event) {
            infowindow.close();
        });
	}
	function UpdateMapWithGeolocation() {
		{% comment %} map = new google.maps.Map(document.getElementById('map'), {
			center: { lat: -34.397, lng: 150.644 },
			zoom: 6
		}); {% endcomment %}
		infoWindow = new google.maps.InfoWindow;

		// Try HTML5 geolocation.
		if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function (position) {
				var pos = {
					lat: position.coords.latitude,
					lng: position.coords.longitude
				};
				var marker = new google.maps.Marker({
					position: pos,
					map: map,
					title: 'You',
					label: 'Y',
					animation: google.maps.Animation.DROP,
					icon: {
						path: google.maps.SymbolPath.CIRCLE,
						scale: 5,
						fillColor: 'blue',
						fillOpacity: 0.8,
						scale: 2,
						strokeColor: 'blue',
						strokeWeight: 14
					},
				});
				{% comment %} infoWindow.setPosition(pos);
				infoWindow.setContent('Location found.');
				infoWindow.open(map); {% endcomment %}
				map.setCenter(pos);
			}, function () {
				handleLocationError(true, infoWindow, map.getCenter());
			});
		} else {
			// Browser doesn't support Geolocation
			handleLocationError(false, infoWindow, map.getCenter());
		}
	}

	function handleLocationError(browserHasGeolocation, infoWindow, pos) {
		{% comment %} infoWindow.setPosition(pos);
		infoWindow.setContent(browserHasGeolocation ?
			'Error: The Geolocation service failed.' :
			'Error: Your browser doesn\'t support geolocation.');
		infoWindow.open(map); {% endcomment %}
	}
</script>
<script async defer src="https://maps.google.com/maps/api/js?key=AIzaSyCRB2jA_b4InjlQtslR5g5NO9n8dUTdJ0Q&callback=initialize"></script>


	{% comment %} <div class="user_item">
		<!-- Let's indicate a user's good karma -->
		<h2 {% if (user.karma >= 40) || (user.karma > calc_avg_karma(userlist)+5) %}
			class="karma-good"{% endif %}>
			
			<!-- This will call user.String() automatically if available: -->
			{{ user }}
		</h2>

		<!-- Will print a human-readable time duration like "3 weeks ago" -->
		<p>This user registered {{ user.register_date|naturaltime }}.</p>
		
		<!-- Let's allow the users to write down their biography using markdown;
		     we will only show the first 15 words as a preview -->
		<p>The user's biography:</p>
		<p>{{ user.biography|markdown|truncatewords_html:15 }}
			<a href="/user/{{ user.id }}/">read more</a></p>
		
		{% if is_admin %}<p>This user is an admin!</p>{% endif %}
	</div> {% endcomment %}
